{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Edit supervisor
{% endblock %}

{# ----------------------------------------#}
{% block projectsNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}


    <a href="/logout">logout</a>

       <p>
          <h2>You are logged in as {{ username }} </h2>
        </p>


    <br>
    <table>

        <tr>
            <th>ID</th>
            <th>StudentID</th>
            <th>Project</th>
            <th>Status</th>
            <th>PastPresent</th>
            <th>Name</th>
            <th>Publication</th>
            <th>Edit</th>
            <th>Create</th>
            <th>Delete</th>
        </tr>




        {% for supervisor in supervisors %}

            <tr>
                <td>{{ supervisor.id }}</td>
                <td>{{ supervisor.studentId }}</td>
                <td>{{ supervisor.project }}</td>
                <td>{{ supervisor.status }}</td>
                <td>{{ supervisor.pastPresent }}</td>
                <td>{{ supervisor.name }}</td>
                <td>{{ supervisor.publication }}</td>
                <td><a href="/editSupervisor/{{ supervisor.id }}">edit</a></td>

              
            </tr>


        {% endfor %}



    </table>





{% endblock %}
