{% extends '_base.html.twig' %}

{% block title %}
    page - project details
{% endblock %}


{# ------------------------------------------------- #}
{% block membersNavStyle %}current_page{% endblock %}



{# ------------------------------------------------- #}
{% block main %}

<!-- start table for displaying individual details -->
<h2>Student Profile</h2>

 <table>

     <tr>
         <th>Id</th>
         <th>Student Number</th>
         <th>Supervisor</th>
         <th>Project</th>
         <th>Status</th>
         <th>Grade</th>
         <th>Name</th>
         <th>Edit</th>
     </tr>

     <tr>
         <td> {{ students.id }}</td>
         <td> {{ students.studentNumber }}</td>
         <td> {{ students.supervisor }}</td>
         <td> {{ students.project }}</td>
         <td> {{  students.status}}</td>
         <td> {{  students.grade}}</td>
         <td> {{  students.name}}</td>
         <td><a href="/editStudent/{{ students.id }}">edit</a></td>
 </table>
  <br>

    <form method = "POST"

          action="/changePicture" enctype="multipart/form-data">

        Image Upload:

        <br>
          <input type="hidden" name = "id" value="{{ students.id }}">

         <input type ="file" name="image"> <br>
        <br>
        <input type = "submit" value="Upload Picture">


    </form>
   <br>

    <img src="images/{{  students.image}}" alt="image" style="width: 200px; height: 200px;">


{% endblock %}
