{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
  page-student
{% endblock %}

{# ----------------------------------------#}
{% block projectsNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}

    <h1>Student Page</h1>

    <a href="/logout">logout</a>
       <p>
          You are logged in as {{ username }} !!!*****************
        </p>

    <table>

        <tr>
            <th>ID</th>
            <th>Student Number</th>
            <th>Supervisor</th>
            <th>Project</th>
            <th>Status</th>
            <th>Grade</th>
            <th>Name</th>
        </tr>




        {% for student in students %}

            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.studentNumber }}</td>
                <td>{{ student.supervisor }}</td>
                <td>{{ student.project }}</td>
                <td>{{ student.status }}</td>
                <td>{{ student.grade }}</td>
                <td><a href ="/studentDetail/{{ student.id }}">{{ student.name }}</a></td>
            </tr>


        {% endfor %}



    </table>



{% endblock %}
